<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
        <httpRuntime requestPathInvalidCharacters="" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Proxy" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="http://127.0.0.1:3930/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
